In [1]:
import pandas as pd
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gc
from scipy import ndimage
pd.set_option('display.html.table_schema', True)

In [3]:
geojson_path = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Data Science Masters /698/Intro Work/lsoa.geojson"
world = gpd.read_file(geojson_path)
world=world.rename(columns = {'LSOA11CD':'LSOA_Code'})
world=world.sort_values('LSOA_Code')
###
#lsoa_centroid_path = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Data Science Masters /698/Data/Output_Areas__December_2011__Population_Weighted_Centroids-shp/Output_Areas__December_2011__Population_Weighted_Centroids.shp"
lsoa_centroid_path = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Data Science Masters /698/Data/LSOA_Dec_2011_Population_Weighted_Centroids-shp/Lower_Layer_Super_Output_Areas__December_2011__Population_Weighted_Centroids.shp"
lsoa_centroid = gpd.read_file(lsoa_centroid_path)
lsoa_centroid=lsoa_centroid.rename(columns = {'lsoa11cd':'LSOA_Code'})
lsoa_centroid=lsoa_centroid.rename(columns = {'lsoa11nm':'LSOA11NMW'})
lsoa_centroid=lsoa_centroid.sort_values('LSOA_Code')
lsoa_centroid=lsoa_centroid.drop(columns=['objectid'])
###
demand_2018_loc = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Downloads/LSOA_DOM_ELEC_csv/LSOA_ELEC_2018.csv"
demand_2018 = pd.read_csv(demand_2018_loc)
demand_2018=demand_2018.rename(columns = {'LSOACode':'LSOA_Code'})
demand_2018=demand_2018.sort_values('LSOA_Code')
###
installations_loc = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Data Science Masters /698/Intro Work/LSOA_installation.csv"
installations = pd.read_csv(installations_loc)
###
J_installations_loc = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Data Science Masters /698/Data/Jamie_PV_capacity_by_GSP_and_LLSOA/capacity_by_llsoa_and_gsp_20200617T165804/20200617T165804_capacity_by_llsoa_and_month.csv"
J_installations = pd.read_csv(J_installations_loc)
####Lower Layer Super Output Area (2011) to Clinical Commissioning Group to Local Authority District (April 2019) Lookup in England
lsoa_to_county_loc = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Data Science Masters /698/Data/Lower_Layer_Super_Output_Area_(2011)_to_Clinical_Commissioning_Group_to_Local_Authority_District_(April_2019)_Lookup_in_England.csv"
lsoa_to_county = pd.read_csv(lsoa_to_county_loc)
lsoa_to_county=lsoa_to_county.rename(columns = {'LSOA11CD':'LSOA_Code'})
lsoa_to_county=lsoa_to_county.sort_values('LAD19CD')
###Local Authority District to County (April 2019) Lookup in England
la_to_county_loc = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Data Science Masters /698/Data/Local_Authority_District_to_County_(April_2019)_Lookup_in_England.csv"
la_to_county = pd.read_csv(la_to_county_loc)
la_to_county=la_to_county.sort_values('LAD19CD')

In [27]:
county_to_region_loc = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Downloads/Local_Authority_District_to_Region_(April_2019)_Lookup_in_England.csv"
county_to_region = pd.read_csv(county_to_region_loc, encoding='latin-1')
county_to_region = county_to_region.sort_values('LAD19CD')

In [29]:
county_to_region.head()

     ï»¿FID    LAD19CD               LAD19NM    RGN19CD     RGN19NM
174     175  E06000001            Hartlepool  E12000001  North East
175     176  E06000002         Middlesbrough  E12000001  North East
176     177  E06000003  Redcar and Cleveland  E12000001  North East
177     178  E06000004      Stockton-on-Tees  E12000001  North East
178     179  E06000005            Darlington  E12000001  North East

In [20]:
LAD.RGN19NM.unique()

array(['London', 'South West', 'East of England', 'South East',
       'East Midlands', 'West Midlands', 'North West',
       'Yorkshire and The Humber', 'North East'], dtype=object)

In [21]:
##Region Shape Files
region_shape_path = "/Users/josemawyin/Library/Mobile Documents/com~apple~CloudDocs/Downloads/Regions__December_2017__Boundaries-shp/Regions__December_2017__Boundaries.shp"
region_shape = gpd.read_file(region_shape_path)

In [22]:
region_shape

TypeError: __init__() got an unexpected keyword argument 'orient'

,objectid,rgn17cd,rgn17nm,bng_e,bng_n,long,lat,st_areasha,st_lengths,geometry
0,1,E12000001,North East,417313,600358,-1.728900,55.297031,8.608115e+09,6.492916e+05,"MULTIPOLYGON (((400869.793 652744.481, 400910...."
1,2,E12000002,North West,350015,506280,-2.772370,54.449451,1.418139e+10,1.053043e+06,"MULTIPOLYGON (((363823.401 578129.102, 364542...."
2,3,E12000003,Yorkshire and The Humber,446903,448736,-1.287120,53.932640,1.543025e+10,8.646500e+05,"POLYGON ((479999.978 517670.160, 481340.496 51..."
3,4,E12000004,East Midlands,477660,322635,-0.849670,52.795719,1.565396e+10,8.926245e+05,"POLYGON ((516022.702 412210.895, 515854.099 41..."
4,5,E12000005,West Midlands,386294,295477,-2.203580,52.556969,1.300924e+10,7.736454e+05,"POLYGON ((407784.302 366613.697, 412395.600 36..."
5,6,E12000006,East of England,571074,263229,0.504146,52.240669,1.915693e+10,1.084885e+06,"MULTIPOLYGON (((599845.992 346575.743, 602319...."
6,7,E12000007,London,517516,178392,-0.308640,51.492271,1.581483e+09,2.719279e+05,"POLYGON ((537745.998 197762.300, 537646.397 19..."
7,8,E12000008,South East,470062,172924,-0.993110,51.450970,1.910885e+10,1.456919e+06,"MULTIPOLYGON (((493941.101 254585.705, 493776...."
8,9,E12000009,South West,285015,102567,-3.633430,50.811192,2.398390e+10,1.632970e+06,"MULTIPOLYGON (((416007.596 246053.797, 417744...."